<button onclick="modelOnly()"> Show 2012 Models Only</button>
<h1 id="first">NYC</h1>
<h1 id="second">Taxi</h1>
<h1 id="third">Medallion</h1>
<h1 id="fourth">Recipients</h1>

<div id="medallion">Recipients</div>

<button onclick="changeColors()">Start!</button>

